*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

article {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

h2 {
        padding-top: 13px;
        padding-bottom: 13px;
}

h3 {
    padding-top: 12px;
    display: none;
}

img {
    width: 70%;
    height: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
  
  .bg-yellow {
    background-color: #eac926;
  }
  
  .bg-light-grey {
    background-color: #ebebeb;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .p-1 {
    padding: 8px;
  }

  h2 {
    font-size: 24px;
    color: #666;
}

  .precio {
    font-size: 18px;
  }
  
  .descuento {
    font-size: 16px;
    color: #39b54a;
  }
  
  .descripcion {
    font-size: 16px;
  }
  
  .center-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcionfooter {
    font-size: 16px;
    color: #000000;
}

.burger-menu {
    text-align: center;
}

.burger-menu i{
    text-align: center;
    background-color: #1259c3;
    color: white;
    padding: 5px;
}
.p-1 {
    padding: 8px;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .bt-1 {
    border-top-style: solid;
    border-top-width: 1px;
  }
  
  .border-grey {
    border-color: #ebebeb;
  }
  
  body {
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

article {
    margin-bottom: 10px;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px; 
    border: 1px solid #39b54a; 
    border-radius: 50%; 
}

.border-top {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.adaptive-image {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-top: -20px solid transparent;
    padding-top: -20px;
    border: -20px solid transparent;
    margin: -20px;
}

.hide-nav {
    display: none;
}

.hide-menu {
    display: none;
}

@media (min-width: 520px) {
    h3 {
        display: block;
    }
    .hide-nav {
        display: block;
    }
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }
    .burger-menu i {
        display: none;
    }
}

@media (min-width: 1280px) {
    .burger-menu {
        display: none;
    }
    .burger-menu i {
        display: none;
    }
}