<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Aguiar</title>
</head>
<body>
    
    <header>

        <img src="/images/logo-mercado-liebre.svg">
      
        <h1>Mercado Liebre Aguiar</h1>
      
        <form action="search.php">
      
          <input type="text">
      
          <input type="submit" value="Buscar">
      
        </form>
      
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
      
        <nav>
            <ul>
            <li><a href="/">Ofertas</a> </li>
        
            <li><a href="/">Tiendas Oficiales</a> </li>

            <li><a href="/">Vender</a> </li>

            <li><a href="/">Ayuda</a></li><br>
            

            <li><a href="/">Crea Tu Cuenta</a></li>

            <li><a href="/">Ingresa</a></li>

            <li><a href="/">Mis Compras</a></li>
            </ul>
          </nav>
        </header>
    
        <main>
        <section>
        <p>Basado en tu última visita</p>
            <img src="/images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <br>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            <br>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
    </section>
    
    <section>
        <p>Ofertas</p>
            <img src="/images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <br>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            <br>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
    </section>
    </main>
    
    <footer>
    <section>
        <p>Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <p>Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
    <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    </footer>
</body>
</html>